{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
			
		<title>
			Knight's Tour
		</title>
		
		<link rel="stylesheet" href="{% static "css/global.css" %}">
		<script type="text/javascript" src="{% static "js/chess.js" %}"></script>	
		<script type="text/javascript" src="{% static "js/global.js" %}"></script>
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">

		<style>
			#banner {
				background-color:#BEDFEE;
				/*height:80px;
				width:1030px;*/
				text-align: justify;
				margin: 20px;
				padding: 10px;
			}
			.span12 {
				background-color:#BEDFEE;
				margin: 0 15px;
			}
			.span4, .span8{
				padding: 20px;
				margin: 0 20px;
				background-color:#BEDFEE;
			}
			.span12 {
				background-color:#BEDFEE;
			}
			#startingPositionTable{
				margin-bottom: 20px;
			}
		</style>
		
		
	<!-- Bootstrap -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
	    
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="{% static "js/html5shiv.js" %}" </script>
		  <script src="{% static "js/respond.min.js" %}" </script>
		<![endif]-->
		
		<!-- Custom styles for this template -->
		<!--link href="carousel.css" rel="stylesheet"-->
		
			
	</head>
	
	<body>
		<!--div class="navbar-wrapper">
		  <div class="container">
	    
		    <div class="navbar navbar-inverse navbar-static-top">
		      <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Next Everest</a>
			</div>
			<div class="navbar-collapse collapse">
			  <ul class="nav navbar-nav">
			    <li><a href="/"><i class="icon-home"></i>Home</a></li>
			    <li><a href="/anagreat/create_anagram">Anagreat</a></li>
			    <li class="active"><a href="/knights_tour/choose_tour">Knights Tour</a></li>

			  </ul>
			</div>
		      </div>
		    </div>
	    
		  </div>
		</div-->
		
		<!--bootstrap2 nav starts here-->
   <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Next Everest</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
			    <li><a href="/"><i class="icon-home"></i>Home</a></li>
			    <li><a href="/anagreat/create_anagram">Anagreat</a></li>
			    <li class="active"><a href="/knights_tour/choose_tour">Knights Tour</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
   
   
		
	<body onload="tableCreate(0,0,'48px',true);">

		{% if Error %}
			<div class="errors">		
				<p>{{Error}}</p>
				
			</div>
		{% endif %}
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="row">
						<h3 class="span4">The Knight's Tour</h3>
						<!--div id="titleContent" style="background-color:#BEDFEE;margin: 20px;width: 800px;"-->
							<p class="span8">
								Welcome to the knight's tour, a centries-old challenge of moving a
								knight on a chess board to every square exactly once.
								By selecting the options below, you may choose the size of the board
								and the square on which the knight begins the tour.
							</p>
						<!--/div-->
					</div>
				</div>
			</div>
			<form id="tour_choice_form" name="chess_input" action="/knights_tour/choose_tour/" method="post">{% csrf_token %}
				
				<!--div id="boardSize" class="tour_choice_segment"-->
				<div id="selectionContainer" style="height:240px;width:1010px;text-align: justify;">
					<div id="boardSizes" style="background-color:#FAFAFA;height:200px;width:160px;margin-left: 20px;float:left;">
				<!--background-color:#F7FE2E-->
				
			
						<h4>Board Size</h4>
						<div id="boardSizesContent" class="selectorContent" title="For best performance, choose a number between 5 and 10.The board need not be a square. You could, for example, have 7 rows and 8 columns.">	
							<div class="row">
								<div class="span3">
								
							<select name="rows" id="rows" onchange="tableCreate(0,0,'48px',true);">
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8" selected="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
							Rows
				<!-- put tab here style.padding-left:5em &#09;-->
							</br></br>
							<select name="columns" id="columns" onchange="tableCreate(0,0,'48px',true);">
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8" selected="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
							Columns
							<div class="accordion" id="boardSize">
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle btn" data-toggle="collapse" data-parent="#boardSize"
										   href="#size">Board Size</a>
									</div>
									<div id="size" class="accordion-body collapse">
										<div class="accordion-inner">
											<p>For best performance, choose a number between 5 and 10.The board need not be a square. You could, for example, have 7 rows and 8 columns.</p>
										</div>
									</div> 
								</div>
							</div>
								</div>
							</div><!--row end-->
						</div>
				
						<h4>Tour Type</h4>
						<div class="row">
								<div class="span3">
						<!--div id="tourTypeContent" class="selectorContent" title="A closed tour is one in which the knight's final position is one knight's move from the starting position. It typically takes much longer to find a solution to a closed tour, if such a solution exists. An open tour is one in which the knight visits every square exactly once, but the final position could be any square on the board."-->
							<input type="radio" name="tour_type" value="Open" checked>Open
							</br></br>
							<input type="radio" name="tour_type" value="Closed">Closed
						
							<div class="accordion" id="tourType">
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle btn" data-toggle="collapse" data-parent="#tourType"
										   href="#type">Tour Type</a>
									</div>
									<div id="type" class="accordion-body collapse">
										<div class="accordion-inner">
											<p>A closed tour is one in which the knight's final position is one knight's move from the starting position. It typically takes much longer to find a solution to a closed tour, if such a solution exists. An open tour is one in which the knight visits every square exactly once, but the final position could be any square on the board.</p>
										</div>
									</div> 
								</div>
							</div>
								
						</div> <!--end row-->
						</div>
					<!--/div-->
					<input type="submit" value="Start Tour" style="margin: 50px 0px 0px 20px" id="tour_button" onclick="setTimeout(function(){disableButton('Currently searching for a solution. This could take several minutes. Starting the search again will not improve performance.')}, 10);">
					<p><a href="/knights_tour/choose_tour/" style="float:left; margin: 20px">Reset Tour</a></p></br></br></br>	
					</div>
					<div id="startingPositions" style="background-color:#FFFFFF;height:300px;width:800px;float:right;margin-left: 20px">
				<!--div id="startingPosition" class="tourChoiceSegment"-->
						<h4>Knight's Starting Position</h4>
						<div id="startingPositionContent">
							<p>Click a square on the board to move the knight.</p>
				
							<div id="startingPositionTable"></div>
						</div>
						<!--Do I need these two input fields down below-->					
						<input type="hidden" value="1" name="starting_column" id="starting_column" onchange="validateStartColumn();"></div>
						<input type="hidden" value="1" name="starting_row" id="starting_row" onchange="validateStartRow();"></div>			
					</div>
				<!--input type="submit" value="Start Tour" style="margin: 50px 0px 0px 20px" id="tour_button" onclick="setTimeout(function(){disableButton('Currently searching for a solution. This could take several minutes. Starting the search again will not improve performance.')}, 10);"-->
				</div>
			</form>
		
		</div>
		
		
									<div class="accordion" id="tourType">
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle btn" data-toggle="collapse" data-parent="#tourType"
										   href="#type">Tour Type</a>
									</div>
									<div id="type" class="accordion-body collapse">
										<div class="accordion-inner">
											<p>A closed tour is one in which the knight's final position is one knight's move from the starting position. It typically takes much longer to find a solution to a closed tour, if such a solution exists. An open tour is one in which the knight visits every square exactly once, but the final position could be any square on the board.</p>
										</div>
									</div> 
								</div>
							</div>
		
	</body>
</html>
