<!DOCTYPE html>
<html>
	<head>
		<title>
			Knight's Tour
		</title>
		<script>
			function validateStartColumn() {
				var columns = document.getElementById("columns");
				var columns_value = columns.options[columns.selectedIndex].value;
				var start_column = document.getElementById("starting_column");
				var sc_value = start_column.options[start_column.selectedIndex].value;
				//alert("columns: " + columns_value + " starting column: " + sc_value);
				if (parseInt(sc_value) > parseInt(columns_value)) {
					alert("Your starting column does not fit on the board. Please choose a number less than or equal to the number of columns on the board")
					start_column.value = columns_value;
				}
			}
			function validateStartRow() {
				var rows = document.getElementById("rows");
				var rows_value = rows.options[rows.selectedIndex].value;
				var start_row = document.getElementById("starting_row");
				var sr_value = start_row.options[start_row.selectedIndex].value;
				//alert("columns: " + columns_value + " starting column: " + sc_value);
				if (parseInt(sr_value) > parseInt(rows_value)) {
					alert("Your starting row does not fit on the board. Please choose a number less than or equal to the number of rows on the board")
					start_row.value = rows_value;
				}
			}
			function disableButton() {
				document.getElementById("tour_button").disabled = 'true';
				alert("Currently searching for a solution. This could take several minutes. Starting the search again will not improve performance.");
			}
		</script>
	</head>
	<body>
{% if Error %}
	<p>{{Error}}</p>
{% endif %}
<h3>The Knight's Tour</h3>
<p>
	Welcome to the knight's tour, a centries-old challenge of moving a
	knight on a chess board to every square exactly once.</br>
	By selecting the options below, you may choose the size of the board
	and the square on which the knight begins the tour.
</p>

<form name="chess_input" action="/knights_tour/index/" method="post">{% csrf_token %}
	<h4>Board Size</h4>
	<p>
	For best performance, choose a number between 5 and 10.</br>
	The board need not be a square. You could, for example, have 7 rows and 8 columns.</br></br>
	Rows
	<select name="rows" id="rows">
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8" selected="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
	</select>
	<!-- put tab here style.padding-left:5em &#09;-->
	Columns
	<select name="columns" id="columns" >
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8" selected="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
	</select>
	</p>
	<h4>Knight's Starting Position</h4>
	<p>Starting Row
	<select name="starting_row" id="starting_row" onclick="validateStartRow();">
		<option value="1" selected="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
	</select>
	<!-- put tab here style.padding-left:5em &#09;-->	
	Starting Column
	<select name="starting_column" id="starting_column" onclick="validateStartColumn();">
		<option value="1" selected="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
	</select>
	</p>
	<h4>Tour Type</h4>
	<p> A closed tour is one in which the knight's final position is one knight's move from the starting position. 
	It typically takes much longer to find a solution to a closed tour, if such a solution exists.</br>
	An open tour is one in which the knight visits every square exactly once, but the final position could be any square on the board.
	</p>
	<input type="radio" name="tour_type" value="Open" checked>Open
	<!-- put tab here style.padding-left:5em &#09;-->
	<input type="radio" name="tour_type" value="Closed">Closed

	</br></br>
	<input type="submit" value="Start Tour" id="tour_button" onclick="setTimeout(disableButton, 10);">
</form>	
	
<!--form name="loginform" action="/knights_tour/index/" method="post">{% csrf_token %}
	{{ form.as_p }}
    <input type="submit"/>
</form-->

	</body>
</html>
